*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-size: 16px;
   font-family: "Montserrat", sans-serif;
   height: 100vh;
}

.first-section {
   padding: 3em;
   background-color: #2E323F;
   height: 40%;
}

.section-text,
.section-form {
   margin: 0 auto;
   max-width: 65%;
}

h2, legend {
   font-family: "Headline One HPLHS", sans-serif;
   color: #A59678;
   font-size: 2rem;
   padding-bottom: 1em;
}

p, i, span, label {
   color: #FFF;
   padding-bottom: 1em;
}

i {
   color: #A59678;
   margin-right: 2em;
}

.second-section {
   padding: 3em;
   background-color: #3B4050;
   height: 60%;
}

fieldset {
   display: flex;
   border: none;
}

input, textarea {
   width: 100%;
   margin-bottom: 1em;
   padding: .5em;

   transition: transform .2s ease-in-out;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
   opacity: 60%;
   transform: scaleY(1.1);
}

button {
   width: 100%;
   padding: .5em;
   color: #FFF;
   background-color: #5e5647;
   font-size: 1rem;
   font-weight: bold;
   text-transform: uppercase;
   border: none;
   cursor: pointer;

   box-shadow: 2px 2px 5px rgba(0,0,0,.3);
   transition: transform .1s ease-in-out;
}

button:hover,
button:focus {
   transform: translateY(1.5px);
   opacity: 80%;
}

@media only screen and (min-width: 1200px) {
   body {
      overflow: hidden;
   }
   .first-section {
      height: 100vh;
      position: relative;
   }

   .section-text {
      margin: 0;
   }

   .second-section {
      width: 50%;
      margin: 15em;
      top: 0;
      right: 0;
      position: absolute;

      box-shadow: 5px 1px 10px rgba(0,0,0,.2);
   }

   .section-form {
      max-width: 80%;
   }

   legend {
      text-align: center;
   }
}
